* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon-header {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    font-size: 1.5rem;
}

.icon-header i { 
    margin-left: 20px; /* Adjust the margin value as needed */
}

.icon-header i:hover {
    color: #e278dd; /* Change the hover color as needed */
    transform: scale(1.2);
}

.header-image {
    width: 100%;
    height: auto;
    display: block;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #e278dd;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav-links ul li { 
    list-style: none;
    padding: 15px 40px;
    position: relative;
}

.nav-links ul li a { 
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(12, 2, 2);
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    background-color: white;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -30px; /* Space between the text-box and the button */
}

.text-box p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin-right: 10px; /* Space between the text and the image */
}


.shop-button {
    padding: 11px 30px; /* Adjust padding for more space around the text */
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 2px solid black; 
    border-radius: 40px; 
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 40px; /* Space between the button and the next section */

}

.shop-button:hover {
    background-color: #e278dd; /* Change background to purple on hover */
    transform: scale(1.05); 
}


h1 {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}
.collection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 30px;
}

.image-container img {
    height: 400px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.8;
    margin-bottom: 10px;
}
.image-container img:hover  {
    opacity: 1; 
    transform: scale(1.05);
}


.overlay1 ,.overlay2 ,.overlay3{
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.shop-links{
    margin-top:100px; /* Adjust the value as needed for spacing */
    display: inline;
    margin: 0px 90px;
} 
/* .shop-links ul li {
    display: inline;
    margin: 0 15px;
} */

.shop-links a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: black;
    margin: 0 15px;
    position: relative;
}
.shop-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px; /* Adjust the thickness of the underline */
    /* background: #e278dd; Change the color as needed */
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust this value to control the distance from the text */
}

.shop-links a:hover::after {
    width: 100%;
}

.shop-links a:hover {
    color: #e278dd; /* Change the hover color as needed */
    /* transform: scale(1.2);
    font-weight: bold; */
}

.shop-collection {
    padding: 0 80px; /* Add padding to the left and right */
    margin-top: 30px; /* Adjust the value as needed for spacing */
}


.shop-collection .images-Frames {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px; /* Adjust the gap between items */
    position: relative;
    overflow: hidden; /* Ensures icons stay within image boundaries */
    
}
.shop-collection .image-containers {
    position: relative;
    overflow: hidden; /* Ensures icons stay within image boundaries */
    text-align: center; /* Center the text below images */
}

.shop-collection .images-Frames img{
width: 100%;
height: auto;
display: block;
position: relative;
opacity: 1;
overflow: hidden; /* Ensures icons stay within image boundaries */
}


.shop-collection .text {
    margin-top: 12px; /* Space between the image and the text */
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: black; /* Text color */
}

button {
    background:  #d166ff;
    border: none;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px 0;
    font-size: 14px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for smooth effect */
}

button:hover {
    background:#8e44ad; /* Change to a slightly darker shade */
    transform: translateY(-5px); /* Pop up effect */
}


.shop-collection .images-hoops {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px; /* Adjust the gap between items */
    position: relative;
    overflow: hidden; /* Ensures icons stay within image boundaries */
    
}
.shop-collection .image-containers {
    position: relative;
    overflow: hidden; /* Ensures icons stay within image boundaries */
    text-align: center; /* Center the text below images */
}

.shop-collection .images-hoops img{
width: 100%;
height: auto;
display: block;
position: relative;
opacity: 1;
overflow: hidden; /* Ensures icons stay within image boundaries */
}

.shop-collection .images-caps {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px; /* Adjust the gap between items */
    position: relative;
    overflow: hidden; /* Ensures icons stay within image boundaries */
    
}
.shop-collection .image-containers {
    position: relative;
    overflow: hidden; /* Ensures icons stay within image boundaries */
    text-align: center; /* Center the text below images */
}

.shop-collection .images-caps img{
width: 100%;
height: auto;
display: block;
position: relative;
opacity: 1;
overflow: hidden; /* Ensures icons stay within image boundaries */
}

p {
    margin-top: 20px; /* Space between images and the paragraph */
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5; /* Adjust line height for readability */
    text-align:center; /* Center align the paragraph */
    margin-bottom: 100px;
}



.left-side h1{
    font-family:"Gochi Hand", cursive; 
    font-size: 40px;
}


.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 20px 10px;
    font-family: "Poppins", sans-serif;
    background-color: rgb(252, 215, 241);
}

.left-side,
.center-side,
.right-side {
    flex: 1; /* Distribute space evenly */
    margin: 0 30px; /* Add space between columns */
    display: flex;
    flex-direction: column;
    align-items: left; /* Center the items in each column */
}
.image-about-us img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px; /* Space between image and text */
}

.center-text p {
    font-size: 12px;
    max-width: 1000px; /* Adjust width as needed */
}
.right-text p {
    font-size: 15px;
    text-align: left;
    max-width: 1000px; /* Adjust width as needed */
}

/* Contact Us section */
.contact-section {
    padding: 50px 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.left-side {
    flex: 1;
    min-width: 300px;
    text-align: center;
}


.left-side img {
    max-width: 100%;
    height: auto;
}

.right-side {
    flex: 2;
    min-width: 300px;
    padding-left: 30px;
}

.contact-email {
    margin-top: 50px;
    font-size: 13px;
    margin-bottom: 5px;
    text-align: left;
}

.contact-text {
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family:"Poppins", sans-serif; 
    font-size: 11px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 100px;
    resize: vertical;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1f012b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:"Poppins", sans-serif; 
    font-size: 11px;
}

.submit-button:hover {
    background-color: #8e44ad;
}

.footer-text {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}









.footer {
    background-color: rgb(252, 215, 241);
    color: #180606;
    padding: 40px 0;
    position: relative;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; /* Ensure items are in a row */
    max-width: 1200px; /* Optional: control the max width of the footer content */
    margin: 0 auto; /* Center the footer content */
    padding: 0 10px; /* Optional: add padding to the sides */
}

.footer-logo img {
    width: 200px; /* Adjust the size as needed */
    margin: 0 20px; /* Add margin to create space around the logo */
}

.footer-links {
    text-align: left;
    margin: 0 20px; /* Add margin to create space around the links */
}

.footer-links h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-family:"Poppins", sans-serif;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    font-family:"Poppins", sans-serif;
    color: #c46767;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: black; /* Change the hover color as needed */
}


social-media-icons {
    margin: 0 20px; /* Add margin to create space around the icons */
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a{
/* background-color:#eceeef; */
color:black;
font-size:1.5rem;
display:inline-block;
line-height:44px;
/* width:40px;
height:40px; */
text-align:center;
margin-right:15px;
/* border-radius:100%; */
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}

.social-icons a.facebook:hover{
color:#3b5998;
transform: scale(1.2);
}
.social-icons a.twitter:hover{
color:#1DA1F2;
transform: scale(1.2);
}
.social-icons a.instagram:hover{
color:#f09433;
transform: scale(1.2);
}
.social-icons a.tiktok:hover{
color:#ff0050;
transform: scale(1.2);
}

.copyright-text {
    font-size: 13px;
    text-align: center;
    margin: 20px 0 0 0;
}


.cart-section , .wishlist-section{
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: none; /* Hidden by default */
    color: black;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
}


.close-cart, .close-wishlist  {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
    font-family: "Poppins", sans-serif;
}
/* ul {
    list-style-type: none;
    padding: 0;
} */
#empty-cart-message, #empty-wishlist-message {
    text-align: center;
    font-size: 18px;
    color: grey;
}